<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459030189606-5ou0bvtn8d7tsddt88u6hodnhhfd8t4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459030189606-5ou0bvtn8d7tsddt88u6hodnhhfd8t4c</string>
	<key>API_KEY</key>
	<string>AIzaSyD1oeM-HsO14QDjkI_bjVpIFV-1LNeMHTc</string>
	<key>GCM_SENDER_ID</key>
	<string>459030189606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Demo</string>
	<key>PROJECT_ID</key>
	<string>react-nativeapp-abe59</string>
	<key>STORAGE_BUCKET</key>
	<string>react-nativeapp-abe59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459030189606:ios:8a16757ab58a38c6f0b8e7</string>
</dict>
</plist>